/* Reset default margin and padding */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #575757;
}

section {
    margin: 20px;
    padding: 20px;
    /*background-color: #f4f4f4;*/
    border-radius: 8px;
    width: fit-content; 
}

